<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin INSPECTION Page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div align="right">
		<a th:href="@{/AdminPage}">Return</a>
	</div>
	<h1>Admin INSPECTION Page</h1>

	
	<table>
		<thead>
			<tr>
				<th>Questionnaire dates</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="qd : ${q_dates}">
				<td th:text="${#dates.format(qd, 'dd-MMM-yyyy')}"></td>
			</tr>
		</tbody>
	</table>
	


</body>
</html>