<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>

	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Marketing Gamification Home Page</h1>
	<p
		th:text="${'Nice to see you again ' + session.user.username + ' ' + session.user.email}"></p>
	<p id="date"></p>
	<script>
	n =  new Date();
	y = n.getFullYear();
	m = n.getMonth() + 1;
	d = n.getDate();
	document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
	</script>

	
	<div th:each="p : ${products}">
    <span th:text="${'Product of the day: ' +  p.name}"></span><br />
    <span th:text="${'Brand: ' +  p.brand}"></span><br />
    <img th:src="${p.image}" >
	</div>
	

	
	
	<p th:text="${'hola'}"></p>

</body>
</html>